<router-outlet></router-outlet>

<div class="container">
  <h1>Form basics</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>

    <div class="d-grid">
      <button class="btn btn-primary" [disabled]="form.invalid">Submit</button>
    </div>
  </form>
</div>
