<router-outlet></router-outlet>

<div class="container" style="width: 18rem;">
  <div class="d-grid gap-2 my-3">
    <button
      *ngIf="!loggedIn"
      class="btn btn-success"
      (click)="onLogin()"
    >Login</button>
    <button
      *ngIf="loggedIn"
      class="btn btn-danger"
      (click)="onLogOut()"
    >Logout</button>
  </div>

  <div *ngIf="loggedIn" class="user">
    <div class="card">
      <img
        class="card-img-top"
        src="https://d39-a.sdn.cz/d_39/c_img_QJ_f/gBsC6/snimek-obrazovky-2021-08-31-v-15-15-38.png?fl=cro,0,13,2774,1560%7Cres,1200,,1%7Cwebp,75"
        alt="Prezident ceske republiky"
        width="200">

      <div class="card-body">
        <h5 class="card-title">Prezident ceske republiky</h5>
        <div>Milos</div>
        <div>Zeman</div>
      </div>
    </div>
  </div>
</div>
