<router-outlet></router-outlet>


<div class="container">
  <button
    class="btn btn-primary"
    [disabled]="!newTodo.name"
    (click)="onClick()">
    Add Todo
  </button>

  <div class="mt-3">
    <label for="todo" class="form-label">Todo</label>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        id="todo"
        (keyup)="onKeyUp($event)"
        [value]="newTodo.name"
      >
    </div>
  </div>

  <ul class="list-group">
    <li *ngFor="let todo of todos" class="list-group-item">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          (click)="onDone(todo)"
          [checked]="todo.done"
        >
        <label class="form-check-label" [ngClass]="{ done: todo.done }">
          {{ todo.name }}
        </label>
      </div>
    </li>
  </ul>
</div>
